.home-container {
    height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /*background: linear-gradient(135deg, #87CEFA, #f0f8ff);*/
}

.home-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.home-container ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.home-container li {
    background: lightgray;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #555;
    transition: transform 0.2s;
}

.home-container li:hover {
    transform: translateX(10px);
}